.page{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.message{
    font-size:17px;
    margin:12px 0;
    color:#555;
    line-height:28px;
}